// FONT FAMILY
$body: 'Roboto', sans-serif;
$featured: 'Economica', sans-serif;
/* $featured: 'Ubuntu', sans-serif; */
/* $featured: 'Teko', sans-serif; */


// COLORS
$light: #ffffff;
$dark: #191919;

$pink: #f211c7;
$pink-b: #e65854;
$pink-lg: #ffa4ee;

$blue: #008CCA;
$blue-lg: #85ceea;

$purple: #8E51A8;
$purple-lg: #ce6df1;

// Z-INDEX
$z-indexes: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20;
@each $z-index in $z-indexes {
    $i: index($z-indexes, $z-index);
    .z#{$i} { 
        z-index: $z-index;
    }
}

// FONT-SIZE
$title: 2.5rem;

$song-1: 3rem;